.comment-box {
  position: absolute;
  top: 380px;
  right: 240px;
}

#name {
  background-color: #FFFFFF;
} 

button[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #23527c;
}
